<div class="col-md-8 blog-main">
  <h2 class="pb-3 mb-4 font-italic border-bottom">
    <%= @note.title %>
    </h2>
  <%= link_to 'Edit', edit_note_path(@note) if current_user == @note.user %>
  <p>
    <%= @note.body %>
  </p>

  <% unless current_user.is_a? GuestUser %>
    <%= form_for @comment, url: '#' do |f| %>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>

      <%= f.submit 'Add Comment', class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <%= render @note.comments %>
</div><!-- /.blog-main -->








