<div class="col-md-8 blog-main">
  <h2 class="pb-3 mb-4 font-italic border-bottom">
    <%= @note.title %>
    </h2>
  <%= link_to 'Edit', edit_note_path(@note) if current_user == @note.user %>
  <p>
    <%= @note.body %>
  </p>

  <%= render 'comments/comment_form' %>
  <div id="comments" data-note-id="<%= @note.id %>">
    <%= render @note.comments %>
  </div>
</div><!-- /.blog-main -->








