
<div class="col-md-8 blog-main">
  <h3 class="pb-3 mb-4 font-italic border-bottom">
    <%= @lecture.title %>
  </h3>
  
  <%= render 'shared/notes_cards' %>
  
  <%= paginate @notes %> 

  <%= render @notes %> 

  <%= paginate @notes %> 

</div><!-- /.blog-main -->
