<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-12 text-center">
            <%= link_to "NoteShare", root_path, class: "blog-header-logo text-light" %>
        </div>
    </div>
</header>

<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <%= link_to "Home", root_path, class: "p-2 text-muted" %>
        <%= link_to "About", about_path, class: "p-2 text-muted" %>
        <%= link_to "Contact", contact_path, class: "p-2 text-muted" %>
        <%= link_to "Notes", notes_path, class: "p-2 " + is_active?(notes_path) %>
        <%= link_to "Courses", courses_path, class: "p-2 text-muted" %>
        <%= link_to "Education Programs", education_programs_path, class: "p-2 text-muted" %>
        <%= login_helper("p-2 text-muted") %>
  </nav>
</div>

 
  