<%= form_with(model: education_program, local: true) do |form| %>
  <% if education_program.errors.any? %>
    <% education_program.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Error!", sticky: false) %>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :academic_degree %>
    <%= form.select :academic_degree, EducationProgram.academic_degrees.keys %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
