<div class="container">
  <h2> <%= @education_program.title %></h2>
  <%= link_to 'Edit', edit_education_program_path(@education_program) %> |
  <%= link_to 'Back', education_programs_path %>
  <hr>
  <p>
    <strong>Academic Degree:</strong>
    <%= @education_program.academic_degree %>
  </p>


  <h3>Courses taught in <%= @education_program.title %>:</h3>
  <% @education_program.courses.each do |c| %>
    <p><%= c.name %></p>
  <% end %>
</div>


