<%= image_tag @course.main_image %>

<h1><%= @course.name %></h1>

<em><strong>Course Code:</strong> <%= @course.code %></em><br>
<em><strong>Course Credits:</strong> <%= @course.credits %></em>

<p><%= @course.description %></p>
