<div class="container">
    <div class="row">
        <div class="col-md-7">
            <%= image_tag course_image(@course.main_image, 'main_image'), width: '100%' %>
        </div>
        <div class="col-md-5">
            <h1><%= @course.name %></h1>
            <hr>

            <em><strong>Course Code:</strong> <%= @course.code %></em><br>
            <em><strong>Course Credits:</strong> <%= @course.credits %></em>
            <hr>
            <p><%= @course.description %></p>
            <%= link_to 'To Notes', course_notes_path(@course.slug) %>
        </div>
    </div>
</div>








